.navbar-brand {
  font-family: viga;
  font-size: 32px;
}

.tombol{
  text-transform: uppercase;
  border-radius: 40px;
}

.nav-link{
  text-transform: uppercase;
  margin-right: 30px;
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #0B63DC;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.jumbotron{
  background-image: url(image/bg1.jpg);
  background-size: cover;
  height: 640px;
  text-align: justify;
  color: rgb(211, 210, 210);
}

.jumbotron .display-4{
  font-weight: 200px;
  font-size: 62px;
  margin-bottom: 30px;
}
